.SiteHeader {
  background: #E55A54;
  color: rgba(255,255,255,0.87);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translateZ(0); /* create composition layer */
}

.SiteHeader.is-transparent {
  background: transparent;
}

.SiteHeader-container {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 16px; /* gutter */
}

.SiteHeader-logo {
  /* Push other things to the right */
  margin-right: auto;
}

.SiteHeader-logo > h1 {
  background: url(../images/logo.svg) no-repeat;
  width: 157px;
  height: 44px;

  /* squish text */
  font: 0/0 serif;

  /* cancel out h1's margin */
  margin: 0;
}

.CartDropdown {
  /* Same height as SiteHeader */
  height: 100%;
}


.CartDropdown-toggle {
  /* Remove button style */
  border: 0;
  background-color: transparent;
  display: block;
  height: 100%;

  transition-property: background-color, color, box-shadow;
  transition-duration: .2s;
}

.CartDropdown-toggle:focus {
  outline: 0;
}

/* [aria-expanded=true] by by bootstrap js */
.CartDropdown-toggle[aria-expanded=true] {
  background-color: #fff;
  color: #E55A54;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.CartDropdown-cartIcon {
  margin-right: 0.5em;
}

.CartDropdown-menu {
  /* Adjust twitter bootstrap's menu position */
  right: 0;
  left: auto;
  width: 75vw;
  margin-top: 0;

  /* Custom style */
  border: 0;
  border-radius: 0;
  border-left-bottom-radius: 2px;
  border-right-bottom-radius: 2px;
  background: #fff;
  box-shadow: none;
  box-shadow: none;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: rgba(0,0,0,.87);

  animation: fade-in .2s;
}

@media screen and (min-width: 767px) {
  .CartDropdown-menu {
    width: 33vw;
  }
}

.CartDropdown-menu p, .CartDropdown-menu li {
  line-height: 32px;
  margin-bottom: 0;
}

.CartDropdown-menu ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.CartDropdown-menu a {
  color: #E55A54;
}

.CartDropdown-menu hr {
  margin: 16px 0;
}

.CartDropdown-remove {
  background: transparent;
  color: rgba(0,0,0,.18);
}

.CartDropdown-remove:hover {
  color: rgba(0,0,0,.56);
}

.CartDropdown-checkout {
  margin-top: 16px;
  color: rgba(255,255,255,.87);
  background: #E55A54;
}

.CartDropdown-checkout:hover {
  color: rgba(255,255,255,.56);
}

.CartButton {
  background: transparent;
  color: rgba(255,255,255,.87);
  border: 2px solid rgba(255,255,255,.87);
}

.CartButton:hover, .CartButton:active, .CartButton:focus {
  color: #fff;
  outline: 0;
  background: rgba(255,255,255,.13);
}

.CartButton::before {
  font-family: 'Glyphicons Halflings';
  margin-right: 0.5em;
}

.CartButton.is-loading::before {
  content: '\231b'; /* glyphicon-hourglass */
}

.CartButton.is-loading::after {
  content: 'Loading';
}

.CartButton.is-added::before {
  content: '\e013'; /* glyphicon-ok */
  animation: zoom-in .6s forwards cubic-bezier(0.290, 1.635, 0.190, 0.880);
}

.CartButton.is-added::after {
  content: 'Added to cart';
}

.CartButton.is-notAdded::before {
  content: '\e116'; /* glyphicon-cart */
  animation: spin-in .4s forwards cubic-bezier(0, 0.5, 0.5, 1);
}

.CartButton.is-notAdded::after {
  content: 'Add to cart';
}

.CartButton--iconOnly {
  background: transparent;
  color: #E55A54;
  border: 0;

  /* Make iconOnly buttons align verically with others */
  padding-left: 0;
  padding-right: 0;

  transition: transform .3s ease-out;
  will-change: transform;
}

.CartButton--iconOnly:hover, .CartButton--iconOnly:active,
.CartButton--iconOnly:focus {
  background: transparent;
}

.CartButton--iconOnly:hover {
  transform: scale(1.25);
}

.CartButton--iconOnly::before {
  margin-right: 0;
}

.CartButton--iconOnly::after {
  display: none;
}

.Page {
  /* Padding-top = SiteHeader height + grid gutter */
  /* Padding left/right = gutter size */
  padding: 72px 16px 16px;
}

.Grid {
  /* Set gutter = 16px */
  margin: 0 -8px;
}

ul.Grid {
  /* Fix Grid applying to <ul> */
  list-style: none;
  padding-left: 0;
}

.Grid-cell {
  /* Set gutter = 16px */
  padding: 0 8px 16px;
}

.ProductsPage-cell {
  position: relative; /*  For caption */
  background: hsl(2, 10, 90);
  border-radius: 2px;
}

.ProductsPage-image {
  width: 100%;
}

.ProductsPage-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px; /* Grid list header: http://goo.gl/ZHrhbK */
  padding: 0 16px;

  display: flex;
  align-items: center;
  background: rgba(0,0,0,.56);
}

.ProductsPage-caption > a {
  margin-right: auto; /* push cartButton all the way to the right */
  color: rgba(255,255,255,.87);
}

.ProductsPage-caption > .CartButton {
  color: rgba(255,255,255,.87);
}

.ProductPage {
  display: flex;
  height: 100vh;
  flex-flow: column;
}

@media screen and (min-width: 768px) {
  .ProductPage {
    flex-flow: row;
  }
}

.ProductPage-image, .ProductPage-text {
  flex: 1;
}

.ProductPage-image {
  background-color: hsl(2, 0, 51);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  /* For loading content */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 84px;
  color: #E55A54;
}

.ProductPage-text {
  display: flex; /* center text vertically */
  flex-flow: column;
  justify-content: center;
  padding-left: 16px;

  background: #E55A54;
  color: rgba(255,255,255,.87);
}

@media screen and (min-width: 768px) {
  .ProductPage-text {
    padding-left: 40px;
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes zoom-in {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

@keyframes spin-in {
  from {
    opacity: 0;
    transform: rotate(-720deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
